{% extends 'core/basic_in_core.html' %}

{% block content %}
    <div class="container">
        <form action="{% url 'search' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="InputNumber">Number card</label>
            <input type="number" name="Number" class="form-control" id="InputNumber" aria-describedby="NumberHelp" placeholder="Enter number card">
            <small id="NumberHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="InputCVC">CVC</label>
            <input type="number" name="CVC"  min="100" max="999" class="form-control" id="InputCVC" placeholder="CVC">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h style="color:red">{{error}}</h>
        <h1><a href="{% url 'create_card' %}">Create card</a></h1>
    </div>
{% endblock %}